<footer>
    <div class="footerContent">
        <div class="footerDescription">
            <span><i class="fa-solid fa-cart-shopping"></i>QuickPick</span>
            <p>QuickPick Specializes in providing high-quality, stylish products for your doresteps</p>
        </div>
    
        <div class="footerContact">
            <h3>CONTACT</h3>
            <a href=""><i class="fa-solid fa-location-dot"></i><span>No. 45, New Baneshwor, Kathmandu, Nepal</span></a>
            <a href=""><i class="fa-solid fa-phone"></i><span>+977-9851234567</span>, <span>+977-9807654321</span></a>
            <a href=""><i class="fa-solid fa-envelope"></i>support@quickpicknepal.com</a>
        </div>
    
        <div class="footerLinks">
            <h3>QUICK LINK</h3>
            <div class="footerLinksNav">
                <a href="/">Home</a>
                <a href="/products">Products</a>
                <a href="/about">About</a>
                <a href="/contact">Contact</a>
                <a href="/cart">Add to Cart</a>
            </div>
        </div>
    
        <div class="footerSocial">
            <h3>FOLLOW US</h3>
            <div class="footerSocialIcons">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-x-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-youtube"></i>
            </div>
        </div>
    </div>

    <div class="copyright">
        <p>Copyright &copy;2024 <span>QuickPick</span>. All right reserved</p>
    </div>
</footer>