* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
}

.navBar {
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    border-bottom-right-radius: 4rem;
    position: fixed;
    width: 100%;
    background-color: #ffffff;
}

/*Home page navbar*/
.navBar1 {
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.container {
    padding-top: 6rem;
}

.logoImage {
    height: 4.5rem;
    cursor: pointer;
}

.logoImage img {
    height: 100%;
}

.navOptions {
    display: flex;
    gap: 2.5rem;
}

.profileIcon {
    margin-right: 4rem;
    border: 1px solid #a51910;
    height: 2.3rem;
    width: 2.3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    cursor: pointer;
}

.profileIcon img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    
}

.cartIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cartIcon img {
    height: 2rem;
    width: 2rem;
}

.navItem {
    display: flex;
    gap: 2.5rem;
    justify-content: center;
    align-items: center;
}

.navItem a {
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
    height: 1.3rem;
}

.navItem a:hover {
    border-bottom: 1px solid black;
}

.searchBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25rem;
    height: 2.6rem;
    background-color: #EFEFEF;
    border-radius: 6rem;
    padding: 1.1rem;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

.searchBox input {
    width: 100%;
    margin-left: 1rem;
    background-color: #EFEFEF;
    height: 1.8rem;
    border: 0px;
    outline: none;
    font-size: 1rem;
}

/*footer starts here*/
footer {
    background-color: #2D2B2B;
    height: auto;
}

.footerContent {
    display: flex;
    padding: 2rem;
    gap: 2rem;
}

.footerDescription {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2.2rem;
}

.footerDescription span {
    color: #A51910;
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.8rem;
}

.footerDescription p {
    color: #D9D9D9;
}

.footerContact {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 1rem;
    gap: 1.5rem;
}

.footerContact h3, .footerLinks h3, .footerSocial h3 {
    color: #ffffff;
    font-weight: 700;
}

.footerContact a {
    text-decoration: none;
    color: #D9D9D9;
}

.footerContact a i {
    padding-right: 8px;
}

.footerLinks {
    width: 15%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.footerLinksNav {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footerLinksNav a {
    text-decoration: none;
    color: #D9D9D9;
}

.footerLinksNav a:hover {
    color: #ffffff;
}

.footerLinks h3, .footerSocial h3 {
    padding-bottom: 0.5rem;
}

.footerSocial {
    width: 15%;
    text-align: center;
    padding: 1rem;
}

.footerSocialIcons {
    padding: 1rem;
    font-size: 2rem;
    color: #D9D9D9;
}

.footerSocialIcons i:hover {
    cursor: pointer;
    color: #ffffff;
}

.copyright {
    color: #D4D4D4;
    padding: 2.2rem;
    display: flex;
    justify-content: center;
    border-top: 1px solid #D4D4D4;
    margin-left: 7rem;
    margin-right: 7rem;
}

.copyright span {
    color: #A51910;
}

/*Mobile styles*/
@media (max-width: 768px) {
    .footerContent {
        display: flex;
        flex-direction: column;
    }

    .footerDescription, .footerContact, .footerLinks {
        padding: 0.5rem;
        width: 100%;
    }

    .footerSocial {
        padding: 0.5rem;
        width: 100%;
        text-align: left;
    }

    .footerSocialIcons {
        padding: 0;
    }

    .copyright {
        padding: 0.5rem;
        width: 100%;
        margin: 0;
        padding: 25px 13px;
    }
}

/*Home page image*/
.bgImage {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bgImage img {
    width: 100%;
    height: 100vh;
}

.bgGirlImage img {
    height: 35rem;
    width: 30rem;
    position: absolute;
    top: 6rem;
    right: 90px;
}

.homeBgContent {
    position: absolute;
    top: 16rem;
    left: 8rem;
    width: 38rem;
}

.homeBgContent h1 {
    font-weight: 700;
    font-size: 2.7rem;
    padding-bottom: 2rem;
}

.homeBgContent p {
    color: #666565;
    padding-bottom: 2rem;
}

.homeBtn {
    display: inline;
}

.homeBtn button {
    padding: 0.6rem 2rem;
    border-radius: 3rem;
    background-color: #A51910;
    border: none;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
}

.homeBtn button:hover {
    opacity: 0.85;
}

.homeBtn button span {
    padding-left: 0.2rem;
}

/*Home page featured products*/
.productsHome {
    display: flex;
    gap: 2.9rem;
    padding: 1rem;
}

.singleProductsHome {
    display: flex;
    flex-direction: column;
    height: 28rem;
    width: 20rem;
    border-radius: 1.5rem;
    margin-bottom: 10px;
    text-decoration: none;
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.singleProductsHome:hover {
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
}

/*Offer section*/
.offerBg {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.offerImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.offerContent {
    position: absolute;
    top: 3.5rem;
    color: #ffffff;
    width: 50%;
    margin-left: 7rem;
}

.offerContent p {
    font-weight: 700;
    font-size: 1.1rem;
    padding-bottom: 1rem;
}

.offerContent h1 {
    font-size: 3.5rem;
    padding-bottom: 2rem;
}

.offerContent h1 span {
    color: #A51910;
}

/*Index route product page*/
.allProductsPage {
    padding: 3rem;
}

#allProductsTitle {
    padding-bottom: 2rem;
    font-weight: 700;
}

.products {
    display: flex;
    gap: 1.7rem;
    height: auto;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.products-div {
    height: 19rem;
    width: 13.4rem;
    border-radius: 1.5rem;
    margin-bottom: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.singleProducts {
    text-decoration: none;
    color: black;
}

.products-div:hover {
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
}

.allProductsImage {
    width: 100%;
    height: 63%;
    border-radius: 1.5rem;
}

.allProductsImage img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1.5rem;
}

.allProductDetails {
    height: 37%;
    padding: 1rem;
    /* display: flex;
    flex-direction: column;
    gap: 1rem; */
}

#productsTitleProducts {
    font-weight: 700;
    display: block;
}

#productsPrice {
    color: #A51910;
    font-weight: 700;
}

.priceAndButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.priceAndButton i {
    padding-right: 0.3rem;
}

.addToCartButton {
    height: 2.3rem;
    width: 2.3rem;
    border-radius: 50%;
    background-color: #A51910;
    color: #ffffff;
    font-size: 1.5rem;
    border: none;
}

.addToCartButton:hover {
    background-color: #a51a10d7;
    cursor: pointer;
}

/*Home page featured product design and arrow design*/
.slider-container {
    display: flex;
    overflow-x: hidden;
    position: relative;
}

.slider {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.slider::-webkit-scrollbar {
    display: none;
}
  
.arrow {
    background-color: aqua;
    border: none;
    height: 100%;
    width: 150px;
    position: absolute;
}

.arrow i {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.arrow i:hover {
    background-color: #efedfb;
}

.left-arrow {
    left: 0;
    background: linear-gradient(90deg, #fff 30%, transparent);
}
  
.right-arrow {
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: linear-gradient(-90deg, #fff 30%, transparent);
}

.left-arrow i {
    margin-left: 15px;
}

.right-arrow i {
    margin-right: 15px;
}

.singleProductsHome {
    flex: 0 0 auto;
}

.addToCartButtonHome {
    height: 2.7rem;
    width: 2.7rem;
    border-radius: 50%;
    background-color: #A51910;
    color: #ffffff;
    font-size: 1.5rem;
    border: none;
}

.addToCartButtonHome:hover {
    background-color: #a51a10d7;
    cursor: pointer;
}

.arrow:disabled {
    display: none;
    cursor: not-allowed;
}

/*Show route styling*/
.showRoute {
    margin: 6rem;
    display: flex;
    height: 28rem;
}

.productImageShow {
    height: 100%;
    width: 38%;
    margin-left: 5rem;
    border-radius: 1.5rem;
    padding: 1rem 0;
}

.productImageShow img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1.5rem;
}

.productDetails {
    height: 100%;
    width: 61%;
    padding: 3rem;
}

.productDetails ul {
    list-style-type: none;
}

#productTitle {
    font-weight: 700;
    font-size: 2rem;
}

#productPrice {
    font-size: 1.3rem;
    font-weight: 700;
    color: #6D6D6D;
    padding-bottom: 1rem;
}

select {
    width: 9rem;
    height: 2.2rem;
    padding: 0 1rem;
    border-radius: 0.8rem;
    background-color: #F4F4F4;
    border: none;
    outline: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    margin-bottom: 1.5rem;
    cursor: pointer;
}

#pDetail {
    font-weight: 700;
    padding-bottom: 1rem;
}

#productDescription {
    width: 75%;
    font-weight: 400;
    font-size: 0.9rem;
}

.addToCartShow {
    display: flex;
    gap: 2.5rem;
    padding: 1rem;
}

#incDecBtn {
    width: 6rem;
    height: 2.5rem;
    border-radius: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem;
    background-color: #F4F4F4;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

#incDecBtn button {
    width: 100%;
    margin: 5px;
    border: none;
    background-color: #F4F4F4;
    cursor: pointer;
}

#incDecBtn button:hover {
    background-color: #6d6d6d11;
}

#addToCartShowButton, #buyNowBtn {
    width: 9rem;
    height: 2.5rem;
    padding: 0.3rem 1rem;
    border-radius: 1.5rem;
    background-color: #A51910;
    border: none;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
}


/*Profile dropdown*/
.dropdownMenu {
    display: none;
    position: absolute;
    right: 5%;
    top: 100px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    width: 150px;
}

.dropdownMenu a {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
}

.dropdownMenu a:hover {
    background-color: #f0f0f0;
}

.show {
    display: block;
}


/* Profile styles */
.profile {
    border: 1px solid #a51910;
    padding: 30px;
    border-radius: .5rem;
    width: 30%;
    margin: 20px auto;
}

.update-button {
    display: flex;
    justify-content: right;
}

.update-button a {
    border: 1px solid #a51910;
    padding: .4rem;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s ease-in;
}

.update-button a i {
    color: #a51910;
    transition: .3s ease-in;
}

.update-button a:hover {
    background-color: #a51910;
    color: #fff;
}

.update-button a i:hover {
    color: #fff;
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #a51910;
    margin: 0 auto;
}

.profile-image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 2px;
}

.profile-data {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;
}

#profile {
    padding: 30px;
}

.profileUpdate {
    padding: 30px;
    display: flex;
    justify-content: center;
}

.profileUpdate form {
    border: 1px solid #a51910;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 20px;
    width: 50%;
    border-radius: 0.8rem;
}

.profileUpdate form input {
    padding: 0.5rem;
    height: 2.5rem;
    font-size: 1rem;
    border: 1px solid #a51910;
    border-radius: 0.3rem;
    outline: none;
}

.profileUpdate form button {
    padding: 0.5rem;
    height: 2.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.3rem;
    background-color: #a51910;
    color: #fff;
    cursor: pointer;
}

.addressProfile {
    border: 1px solid #a51910;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 40%;
    border-radius: 0.8rem;
    margin: 20px auto;
}

.address {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.address-buttons {
    display: flex;
    gap: 10px;
}

.address form button {
    padding: .3rem 0.7rem;
    font-size: 0.9rem;
    border: none;
    border-radius: 0.3rem;
    background-color: #a51910;
    color: #fff;
    cursor: pointer;
    transition: .3s ease-in;
}

.address form button:hover {
    background-color: #a51a10dd;
}

.addressProfile a {
    text-decoration: none;
    border: 1px solid #a51910;
    padding: 5px 10px;
    width: fit-content;
    color: black;
    border-radius: .3rem;
    margin: 10px auto 0;
    transition: .3s ease-in;
}

.addressProfile a:hover {
    background-color: #a51910;
    color: #fff;
}

/* Address order route styling */
.addressPage, .newAddressPage {
    padding: 30px;
}

.addressPage form, .newAddressPage form {
    border: 1px solid #a51910;
    display: flex;
    flex-direction: column;
    border-radius: .4rem;
    padding: 20px;
    width: 40%;
    margin: 30px auto 10px;
    gap: 20px;
}

.addressPage form input, .newAddressPage form input {
    padding: 10px;
    border-radius: .3rem;
    border: 1px solid #a51910;
    outline: none;
    font-size: .9rem;
}

.addressPage form button, .newAddressPage form button {
    padding: 10px;
    border-radius: .3rem;
    background-color: #a51910;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: .3s ease-in;
}

.addressPage form button:hover {
    background-color: #a51a10dd;
}

/* Select Address route */
.selectAddressH1 {
    margin: 20px;
}

.select-address {
    border: 1px solid #a51910;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 40%;
    border-radius: 0.8rem;
    margin: 50px auto;
}

.select-address form select {
    margin-left: 20px;
    border: 1px solid #a51910;
}

.select-address form {
    display: flex;
    flex-direction: column;
}

.select-address form button {
    padding: 0.5rem;
    height: 2.3rem;
    font-size: .9rem;
    border: none;
    border-radius: 0.3rem;
    background-color: #a51910;
    color: #fff;
    cursor: pointer;
    transition: .3s ease-in;
}

.select-address form button:hover {
    background-color: #a51a10dd;
}

/* Orders route styling*/
.order-div {
    padding: 30px;
    height: auto;
}

.order-div h1 {
    font-weight: 600;
    margin-bottom: 20px;
}

.orders {
    padding: 10px 80px;
}

.order {
    border: 1px solid #a51910;
    margin-bottom: 30px;
    border-radius: .5rem;
}

#orderId {
    border-bottom: 1px solid gray;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}

#orderId h3 {
    font-weight: 600;
}

#orderId span {
    padding: 2px 10px;
    border-radius: 3rem;
    font-size: .9rem;
    font-weight: 400;
    background-color: #a51910;
    color: #fff;
}

#orderDetails {
    border-bottom: 1px solid gray;
}

.multipleOrders {
    padding: 20px 40px;
    width: 100%;
    display: flex;
    align-items: center;
}

#orderDetails img {
    width: 80px;
    height: 80px;
}

.titleDescription {
    margin-left: 2rem;
    width: 24rem;
}

#orderDetails span {
    margin-left: 4rem;
    font-weight: 400;
    color: #2d2b2bcc;
}

.titleDescription p:nth-child(1){
    font-weight: 400;
}

.titleDescription p:nth-child(2){
    color: gray;
    font-weight: 400;
}

.totalPrice {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f0f0f0;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

/* Contact page styling */
.contactPage {
    padding: 2rem;
    text-align: center;
}

.contactPage form {
    width: 40rem;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contactPage form input {
    height: 40px;
    border-radius: .4rem;
    border: 1px solid #a51910;
    padding: 10px;
    font-size: .9rem;
    outline: none;
}

.contactPage form textarea {
    height: 150px;
    padding: 10px;
    font-size: .9rem;
    border-radius: .4rem;
    border: 1px solid #a51910;
    outline: none;
}

.contactPage form button {
    height: 40px;
    padding: 10px;
    font-size: .9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .4rem;
    border: none;
    background-color: #A51910;
    color: #fff;
    cursor: pointer;
    transition: .3s ease-in;
}

.contactPage form button:hover {
    background-color: #a51a10dd;
}

/* About Page */
.aboutPage {
    padding: 2rem;
    /* border: 1px solid #a51910; */
    background-color: #f2e9e4;
    text-align: center;
    max-width: 900px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.aboutPage h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #333;
    font-weight: bold;
}

.aboutPage h2 {
    font-size: 1.5rem;
    margin-top: 2rem;
    color: #333;
    font-weight: bold;
}

.aboutPage p {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #555;
    line-height: 1.6;
}

.aboutPage ul {
    text-align: left;
}

.aboutPage ul li {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: #555;
    line-height: 1.6;
    padding-left: .8rem;
}

.aboutPage a {
    color: #007bff;
    text-decoration: none;
    font-size: 1.5rem;
}

.aboutPage a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .aboutPage {
        padding: 1rem;
    }

    .aboutPage h1 {
        font-size: 1.5rem;
    }

    .aboutPage h2 {
        font-size: 1.5rem;
    }

    .aboutPage p,
    .aboutPage ul li {
        font-size: 1rem;
    }
}