<div class="adminSideBar">
    <div class="sideBar">
        <div class="sideBarTitle">
            <h2>Admin Panel</h2>
        </div>
        <div class="sideBarMenu">
            <ul>
                <li><a href="/admin"><i class="fa-solid fa-house"></i>Dashboard</a></li>
                <li><a href="/admin/addproducts"><i class="fa-solid fa-bag-shopping"></i>Add Products</a></li>
                <li><a href="/admin/deleteproducts"><i class="fa-solid fa-delete-left"></i>Delete Products</a></li>
                <li><a href="/admin/users"><i class="fa-solid fa-user"></i>Users</a></li>
                <li><a href="/admin/orders"><i class="fa-solid fa-cart-shopping"></i>Orders</a></li>
                <li><a href="/admin/logout"><i class="fa-solid fa-right-from-bracket"></i>Logout</a></li>
            </ul>
        </div>
    </div>
</div>