<% layout('admin/layouts/boilerplate') %>

<div class="searchArea">
    <div class="search">
        <input type="text" placeholder="Search...">
        <button><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>

    <div class="userArea">
        <i class="fa-regular fa-bell"></i>
        <i class="fa-regular fa-user"></i>
    </div>
</div>

<div class="dashboardArea">
    <div>
        <h1>Dashboard</h1>
    </div>

    <div>
        <h3>Recent Orders</h3>
    </div>
</div>